<!DOCTYPE html>
<html>
    <head>
        
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Here we are acessing the absolute path. If we use in our machine then this path will be  
         bring to the root of the hard drive. But as here we are using it on the web server, it willbring to the root
         of the web-server i.e. public folder.
         
        using href="./css/styles.css" means that path is relative to the current file(here 'about.html').
    -->
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>headers}}
            <p>This website is created by <b>DJ</b>.</p>
            <p>A special thanks to <a href ="https://www.mapbox.com/" target="blank">Mapbox</a> and <a href ="https://darksky.net/" target="blank"> Darksky </a> for providing api's for data collection</p>
            <img src="/img/Mickey.png" class = "portrait">
        </div>
    
        {{>footers}}
    </body>

</html>