<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
    </head>
    <body>
    <div class="main-content">
        {{>headers}}    
        <h2>Help page</h2>
        <p>If you have any query then you can mail on {{email}} or you can even call on {{contact}}</p>
    </div>
    
    {{>footers}}
    </body>

</html>