<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
               
        <title>Weather</title>  
    </head>
    <body>
        <div class="main-content">
            <!--  Here we are using a flexbox to create a sticky footer which always remains at the bottom.fail -->
            {{>headers}}
            <h2>Weather is the thing which I Enjoy the most</h2>
            <p id="welcome">{{title}}</p><!--This shows the title that we provided in app.js file of webserver-->
            <!--  You are heartly welcomed to this webpage. This webpage is under construction and soon it will turn into a nice working weather app -->
            <p>Hi I am {{name}} and I'm learning many new things</p>
        
        <form>
            <input type="text" placeholder="Location" >
            <button>Search</button>
        </form>
        <p id="message-1"></p >
        <p id="message-2"></p>
        
        
        </div>

    {{>footers}}

    <script src ="/js/app.js"></script>
    </body>


</html>